<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-5">
        <div class="row">
        <h1>Add Courses</h1>
            Degree Name:*<select class="form-control" ng-model="degName"  ng-options="l as l for l in vm.list1"></select><br>
            Select Combination:<select class="form-control" ng-model="degCourse"  ng-options="l as l for l in vm.list" multiple></select><br>
            <button class="btn btn-success" ng-click="vm.AddCourse(degName,degCourse)">Save</button>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>